{% extends 'base.html.twig' %}

{% block title %}My Cart! {{ parent() }}{% endblock %}

{% block body %}
    <section class="container">
        <div class="row mb-3">
            <div class="col col-12">
                <h1>My Cart</h1>
            </div>
        </div>
        <div class="row d-none d-lg-flex my-3">
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">products</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">name of product</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">price</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">quantity</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">remove</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 text-center">
                <strong class="text-uppercase">total</strong>
            </div>
        </div>

        {% for i in 1..3 %}
        <div class="row my-5 text-capitalize text-center align-items-center">
            <div class="col-10 mx-auto col-lg-2">
                <img
                    src="{{ asset('assets/products/product-' ~ i ~ '.png') }}"
                    class="img-fluid" alt=""
                    style="width: auto;min-height: 5rem;"
                >
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <strong><span class="d-lg-none">product :</span> Google Pixel - Black</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <strong><span class="d-lg-none">price :</span> $10</strong>
            </div>
            <div class="col-10 mx-auto col-lg-2 my-2 my-lg-0 ">
                <div class="d-flex justify-content-center">
                    <div class="form-inline">
                        <div class="input-group" style="max-width: 145px;">
                            <button class="btn btn-danger">-</button>
                            <input type="text" class="form-control form-control-lg d-inline-block text-center" value="1">
                            <button class="btn btn-success">+</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <a href="#" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
            </div>
            <div class="col-10 mx-auto col-lg-2 ">
                <strong>item total : $70 </strong>
            </div>
        </div>
        {% endfor %}

        <hr>

        <div class="row my-5">
            <div class="col col-12 text-capitalize text-capitalize text-center text-lg-right">
                <h5><span class="text-title"> subtotal :</span> <strong>$ 88 </strong></h5>
                <h5><span class="text-title"> tax :</span> <strong>$ 8.8 </strong></h5>
                <h5><span class="text-title"> total :</span> <strong>$ 96.8 </strong></h5>
                <div>
                    <img class="img-fluid" src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Check out with PayPal" />
                </div>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col col-12 text-capitalize text-center text-lg-left">
                <a href="/">
                    <button class="btn btn-outline-danger text-uppercase mb-3 px-5" type="button"><i class="fa fa-trash"></i> clear cart</button>
                </a>
            </div>
        </div>
    </section>
{% endblock %}
