<footer class="container-fluid py-5 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col col-12">

                <div class="container text-white">
                    <div class="row justify-content-end">
                        <div class="col col-6 col-md-3">
                        <span>
                            My Phone Shop
                            <small class="d-inline mb-3 text-white">© {{ date('Y')|date("Y") }}</small>
                        </span>
                        </div>
                        {#<div class="col col-6 col-md-2 col-lg-1">#}
                            {#<ul class="list-unstyled text-small">#}
                                {#<li><a class="text-white" href="#">Login</a></li>#}
                                {#<li><a class="text-white" href="#">Register</a></li>#}
                            {#</ul>#}
                        {#</div>#}
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
