<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">

        <a class="navbar-brand" href="#">My App</a>

        <a class="btn btn-outline-warning align-middle btn-primary ml-auto mr-3 order-md-last" href="#"><i class="fa fa-cart-plus"></i> My Cart</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto mr-md-2">
                <li class="nav-item">
                    <form class="form-inline ml-auto d-block d-md-inline-block">
                        <div class="input-group  my-2 my-lg-0">
                            <input name="s" class="form-control d-inline-block" type="text" placeholder="Search" aria-label="Search">
                            <button class="btn btn-secondary d-inline-block" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </li>
            </ul>
        </div>

    </div>
</nav>
