<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">

        <a class="navbar-brand" href="#">My App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-header">
            <form class="form-inline ml-auto">
                <div class="input-group  my-2 my-lg-0">
                    <input name="s" class="form-control d-inline-block" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary d-inline-block" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>

    </div>
</nav>